.about {
    padding-top: 150px;
}

.about__text {
    margin-bottom: 29px;
    margin-left: 4px;
    width: 1048px;
    font-size: 45px;
    line-height: 61px;
    color: #121212;
}

@media (max-width: 1199px) {
    .about {
        padding-top: 120px;
    }
    
    .about__text {
        margin-bottom: 29px;
        margin-left: 0;
        width: 690px;
        font-size: 35px;
        line-height: 48px;
    }
}

@media (max-width: 767px) {
    .about {
        padding-top: 80px;
    }
    
    .about__text {
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    }
}