.about__link{
    display: block;
    text-align: center;
    width: 255px;
    font-size: 20px;
    font-weight: 400;
    line-height: 67px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #AD1818;
    color: #FFFFFF;
}

.about__link:hover {
    cursor: pointer;
}

.item__link {
    margin-left: 2px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
    text-align: left;
    color: #AD1818;
}

.item__link:hover {
    cursor: pointer;
}

.view-all-projects {
    display: block;
    width: 100%;
    height: 153px;
    color: #AD1818;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 153px;
    background-color: #F5F5F5;
    border: 1px solid #AD1818;
    text-decoration: none;
    border-radius: 5px;
}

.view-all-projects:hover {
    cursor: pointer;
    background-color: #AD1818;
    color: #F5F5F5;
}

.services__button {
    padding: 54.4px 0;
    width: 100%;
    font-size: 30px;
    line-height: 41px;
    border-radius: 5px;
    background-color: #AD1818;
    color: #FFFFFF;
}

.services__button:hover {
    cursor: pointer;
}

@media (max-width: 1199px) {
    .about__link{
        width: 249px;
        height: 67px;
        font-size: 20px;
        font-weight: 400;
        line-height: 67px;
    }

    .view-all-projects {
        height: 100px;
        font-size: 30px;
        line-height: 100px;
    }
}

@media (max-width: 767px) {
    .about__link{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        line-height: 65px;
    }

    .item__link {
        font-size: 16px;
        line-height: 22px;
    }

    .view-all-projects {
        height: 100px;
        font-size: 22px;
        line-height: 100px;
    }

    .services__button {
        padding: 36.5px 0;
        width: 100%;
        font-size: 22px;
        line-height: 30px;
    } 
}