#contacts {
    padding: 149px 0 152px;
}

.contacts__heading {
    margin-bottom: 74px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
}

.number, .email {
    position: relative;
}

.contacts__number {
    font-size: 60px;
    line-height: 60px;
    color: rgb(18, 18, 18);
    text-decoration: none;
}

.contacts__email {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400px;
    color: rgba(18, 18, 18, 0.5);
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.email:before,
.number:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.number:before {
    background-image: url('../resources/number.svg');
}

.email:before {
    background-image: url('../resources/email.svg');
}

@media (max-width: 1199px) {
    #contacts {
        padding: 120px 0 80px;
    }

    .contacts__number, .contacts__email {
        font-size: 45px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    #contacts {
        padding: 80px 0;
    }

    .contacts {
        flex-direction: column;
        gap: 54px;
    }  
    
    .number:before, .email:before {
        bottom: 67px;
        width: 18px;
        height: 18px;
    }

    .contacts__number, .contacts__email {
        font-size: 35px;
        line-height: 45px;
    }
}
