.feedback {
    padding: 150px 0 154px;
}

.feedback__row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 50px;
}

.feedback__column {
    width: calc(50% - 25px);
}

.feedback__column:last-child:nth-child(2n + 1) {
    width: 75%;
}

.feedback__text {
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 1199px) {
    .feedback {
        padding: 120px 0;
    }

    .feedback {
        width: 100%;
    }

    .feedback__row {
        column-gap: 10px;
    }

    .feedback__column {
        width: calc(50% - 5px);
    }

    .feedback__column:last-child:nth-child(2n + 1) {
        width: 75%;
    }

    .feedback__text {
        font-size: 20px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    .feedback {
        padding: 80px 0 102px;
    }

    .feedback__row {
        flex-direction: column;
    }

    .feedback__column {
        width: 100%;
    }

    .feedback__column:last-child:nth-child(2n + 1) {
        width: 100%;
    }

    .feedback__text {
        font-size: 16px;
        line-height: 22px;
    }
}