.projects {
    padding: 150px 0;
}

.projects__item {
    margin-bottom: 90px;
    width: 1150px;
}

.item__pic {
    display: block;
    margin-bottom: 21px;
    width: 1150px;
}

.item__text {
    margin-bottom: 20px;
    width: 100%;
    font-size: 30px;
    color: #000;
}

@media (max-width: 1199px) {
    .projects {
        padding: 120px 0 100px;
    }

    .projects__item {
        margin-bottom: 80px;
        width: 100%;
    }

    .item__pic {
        margin-bottom: 15px;
        width: 100%;
        object-fit: cover;
    }

    .item__text {
        margin-bottom: 9px;
        width: 100%;
        font-size: 25px;
    }
}

@media (max-width: 767px) {
    .projects {
        padding: 80px 0;
    }

    .projects__item {
        margin-bottom: 49px;
    }

    .item__pic {
        margin-bottom: 20px;
        height: 250px;
    }

    .item__text {
        margin-bottom: 12px;
        font-size: 18px;
    }
}