@import url('styles/headings.css');
@import url('styles/buttons-links.css');
@import url('styles/nav.css');
@import url('styles/contacts.css');
@import url('styles/footer.css');
@import url('styles/onebedroom.css');
@import url('styles/services.css');
@import url('styles/feedback.css');
@import url('styles/projects.css');
@import url('styles/room.css');
@import url('styles/about-us.css');
@import url('styles/header.css');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.section {
    margin: 0 auto;
    width: 1400px;
}

.section__white {
    width: 1400px;
    padding: 33px 125px 133px;
    background-color: #FFFFFF;
}

.section-inner {
    width: 1150px;
    height: 3453px;
}

.section__black {
    padding: 150px 124px 150px;
    background-color: rgb(18, 18, 18);
}

@media (max-width: 1199px) {
    .section, .section__white, .section__black, .section-inner {
        width: 100%;
    }

    .section__white {
        padding: 33px 17px 100px 15px;
    }

    .section__black {
        padding: 150px 23px 150px 27px;
    }
}
    

@media (max-width: 767px) {
    .section__white {
        padding: 33px 14px 80px 13px;
    }

    .section__black {
        padding: 80px 15px 80px 21px;
    }

    .section__feedback {
        padding: 80px 13px 102px;
    }
}