@import "./about-us.css";
@import "./buttons-links.css";
@import "./contacts.css";
@import "./feedback.css";
@import "./footer.css";
@import "./header.css";
@import "./hero.css";
@import "./gallery.css";
@import "./projects.css";
@import "./services.css";
@import "./titles.css";
@import "./popup.css";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    background-color: #F5F5F5;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1180px;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 13px;
    }
}